# ĐỒ ÁN CUỐI KỲ 

Họ tên: Huỳnh Ngọc Quân

MSSV: 1712689

## Import

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

## Lấy dữ liệu

Dữ liệu trong đồ án cuối kỳ này bao gồm: 
- Dữ liệu về các unicorns trên thế giới tính tới thời 29/1/2020 [ở đây](https://www.kaggle.com/narmelan/global-unicorns-2019) ***CB-Insights_Global-Unicorns_2019.csv***
- Dữ liệu các start up ở Ấn Độ trong các lĩnh vực và thông tin về các nhà đầu tư [ở đây](https://www.kaggle.com/sudalairajkumar/indian-startup-funding) ***startup_funding.csv***
- Dữ liệu các nhà đầu tư cho start up trên thế giới do unicorn-nest tổng hợp tính tới 4/1/2020 [ở đây](https://www.kaggle.com/iwanenko/unicorn-nest-startup-fundraising-dataset) ***funds.csv***

Chúng ta sẽ phân tích sự phân bố unicorns trên thế giới, các nhà đầu tư mạnh trong các lĩnh vực và xu hướng đầu tư hiện nay của thế giới. 

Sau đó ta sẽ phân tích dữ liệu các start up ở Ấn Độ để tìm ra được một vài kết luận thú vị.

# 1. Khám phá dữ liệu

## 1.1 Đọc dữ liệu từ file csv

In [2]:
unicorns_df = pd.read_csv("CB-Insights_Global-Unicorns_2019.csv")
startup_df = pd.read_csv("startup_funding.csv")
investor_df = pd.read_csv("funds.csv")

## 1. 2 Tổng quan về dữ liệu

### 1.2.1 Dữ liệu unicorn

In [3]:
unicorns_df.head()

,Company,Valuation ($B),Date Joined,Country,Category,Select Investors
0,Toutiao (Bytedance),$75.00,4/7/2017,China,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,Didi Chuxing,$56.00,12/31/2014,China,Auto & transportation,"Matrix Partners, Tiger Global Management, Soft..."
2,JUUL Labs,$50.00,12/20/2017,United States,Consumer & retail,Tiger Global Management
3,SpaceX,$33.30,12/1/2012,United States,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
4,Stripe,$35.25,1/23/2014,United States,Fintech,"Khosla Ventures, Lowercase Capital, capitalG"

In [4]:
unicorns_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 449 entries, 0 to 448
Data columns (total 6 columns):
Company             449 non-null object
Valuation ($B)      449 non-null object
Date Joined         449 non-null object
Country             449 non-null object
Category            449 non-null object
Select Investors    448 non-null object
dtypes: object(6)
memory usage: 21.2+ KB

In [11]:
unicorns_df.shape

(449, 6)

#### Ý nghĩa các cột dữ liệu:

- **Company**: Tên công ty (start up)
- **Valuation**: Định giá công ty (tỉ USD)
- **Date Joined**: Ngày được công nhận là unicorn
- **Country**: Quốc gia
- **Category**: Lĩnh vực công ty
- **Select Investors**: Các nhà đầu tư

### 1.2.2 Dữ liệu startup ở Ấn Độ

In [5]:
startup_df.head()

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
0,1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
1,2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN
2,3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN
3,4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN
4,5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN

In [6]:
startup_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3044 entries, 0 to 3043
Data columns (total 10 columns):
Sr No                3044 non-null int64
Date dd/mm/yyyy      3044 non-null object
Startup Name         3044 non-null object
Industry Vertical    2873 non-null object
SubVertical          2108 non-null object
City  Location       2864 non-null object
Investors Name       3020 non-null object
InvestmentnType      3040 non-null object
Amount in USD        2084 non-null object
Remarks              419 non-null object
dtypes: int64(1), object(9)
memory usage: 237.9+ KB

In [7]:
startup_df = startup_df.drop('Remarks', axis = 1)

#### Ý nghĩa các cột dữ liệu:

- **Date**: Ngày nhận vốn đầu tư phát triển
- **Startup Name**: Tên công ty (start up)
- **Industry Vertical**: Lĩnh vực chính của công ty
- **SubVertical**: Lĩnh vực phụ của công ty
- **City Location**: Thành phố của trụ sở công ty
- **Investors Name**: Tên nhà đầu tư
- **InvestmentnType**: Loại hình đầu tư
- **Amount in USD**: Số tiền đầu tư (theo USD)

### 1.2.3 Dữ liệu các nhà đầu tư

In [8]:
investor_df.head()

,Fund name,Unicorn Nest website link,Fund website,Fund LinkedIn,Fund Crunchbase,Email format for website,Fund structure,Country,Coincidence of the geography of the fund and its TOP1 invest geofocus,Some of TOP industries,...,Exits,Unicorn amount,Average rounds per year,Average round size,Average startup valuation,Decision makers / strategy diversity index,Average multiplicator,Success / strategy diversity index,Follow-on index,Readiness to take younger startups
0,212,https://unicorn-nest.com/funds/212/,NaN,NaN,https://www.crunchbase.com/organization/212-ca...,NaN,VC,Turkey,1.0,"Energy Storage, Semiconductor",...,TOP5000,NaN,TOP5000,TOP30000,NaN,NaN,TOP10000,NaN,TOP5000,TOP10000
1,415,https://unicorn-nest.com/funds/415/,https://415.com,NaN,https://www.crunchbase.com/organization/415,NaN,VC,United States,1.0,"Software, Hardware",...,NaN,NaN,TOP5000,TOP20000,NaN,NaN,NaN,NaN,TOP10000,TOP10000
2,2020,https://unicorn-nest.com/funds/2020/,NaN,NaN,https://www.crunchbase.com/organization/2020,NaN,VC,NaN,NaN,"Travel, Internet",...,NaN,NaN,TOP30000,TOP10000,NaN,NaN,NaN,NaN,NaN,TOP20000
3,21212,https://unicorn-nest.com/funds/21212/,https://21212.com,https://www.linkedin.com/company/21212-digital...,https://www.crunchbase.com/organization/21212,Domain name: 21212.com; User name format in de...,VC,Brazil,0.0,"Analytics, E-Commerce",...,NaN,NaN,TOP10000,TOP30000,TOP10000,NaN,NaN,NaN,NaN,TOP20000
4,.406 Ventures,https://unicorn-nest.com/funds/406-ventures/,https://406ventures.com,NaN,https://www.crunchbase.com/organization/406-ve...,Domain name: 406ventures.com; User name format...,VC,United States,1.0,"Real Time, Product Design",...,TOP5000,TOP1000,TOP500,TOP10000,TOP5000,TOP1000,TOP5000,TOP5000,TOP5000,TOP20000

In [9]:
investor_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26589 entries, 0 to 26588
Data columns (total 28 columns):
Fund name                                                                26589 non-null object
Unicorn Nest website link                                                26589 non-null object
Fund website                                                             12759 non-null object
Fund LinkedIn                                                            6076 non-null object
Fund Crunchbase                                                          26589 non-null object
Email format for website                                                 19677 non-null object
Fund structure                                                           25012 non-null object
Country                                                                  20912 non-null object
Coincidence of the geography of the fund and its TOP1 invest geofocus    20742 non-null float64
Some of TOP industries                                                   26405 non-null object
One of the most outstanding startups                                     26253 non-null object
Fund that most often invests in previous rounds                          20290 non-null object
Fund that most often invests together                                    23482 non-null object
Fund that most often invests in following rounds                         18526 non-null object
Fund novelty                                                             16261 non-null object
Proximity to the year of peak activity                                   26171 non-null object
Amount of Key Persons                                                    8479 non-null object
Lead investments                                                         8572 non-null object
Exits                                                                    10373 non-null object
Unicorn amount                                                           3053 non-null object
Average rounds per year                                                  26252 non-null object
Average round size                                                       25540 non-null object
Average startup valuation                                                5282 non-null object
Decision makers / strategy diversity index                               997 non-null object
Average multiplicator                                                    7813 non-null object
Success / strategy diversity index                                       7481 non-null object
Follow-on index                                                          9053 non-null object
Readiness to take younger startups                                       24240 non-null object
dtypes: float64(1), object(27)
memory usage: 5.7+ MB

#### Xóa các cột dữ liệu không cần thiết
Dữ liệu có 28 cột, ta xóa bớt các cột thông tin về các nhà đầu tư như:

- Unicorn Nest website link
- Fund website
- Fund LinkedIn
- Fund Crunchbase

...

Và chỉ lấy các cột có thông tin phân tích đối với 2 tập dữ liệu còn lại:

- **Fund name**: Tên nhà đầu tư
- **Fund structure**: Phân biệt giữa 2 cấu trúc quỹ đầu tư mạo hiểm, và quỹ đầu tư mạo hiểm doanh nghiệp
- **Country**: Quốc gia
- **Some of TOP industries**: Các lĩnh vực đầu tư
- **One of the most outstanding startups**: Các start up nổi bật
- **Unicorn amount**: Số lượng Unicorn
- **Sucess / strategy diversity index**: Mức độ thành công

In [10]:
investor_df = investor_df.drop(['Unicorn Nest website link', 'Fund website', 'Fund LinkedIn', 
                                'Fund Crunchbase', 'Email format for website', 'Coincidence of the geography of the fund and its TOP1 invest geofocus',
                                'Fund that most often invests in previous rounds',
                                'Fund that most often invests together', 'Fund that most often invests in following rounds',
                                'Fund novelty', 'Proximity to the year of peak activity', 'Amount of Key Persons', 
                                'Lead investments', 'Exits', 'Average rounds per year', 
                                'Average round size', 'Average startup valuation', 'Decision makers / strategy diversity index',
                                'Average multiplicator', 'Follow-on index', 'Readiness to take younger startups'
                               ], axis = 1)
investor_df.head()

,Fund name,Fund structure,Country,Some of TOP industries,One of the most outstanding startups,Unicorn amount,Success / strategy diversity index
0,212,VC,Turkey,"Energy Storage, Semiconductor",Cymbet,NaN,NaN
1,415,VC,United States,"Software, Hardware",Rimac Automobili,NaN,NaN
2,2020,VC,NaN,"Travel, Internet",Delivery Hero,NaN,NaN
3,21212,VC,Brazil,"Analytics, E-Commerce",Sellpoints,NaN,NaN
4,.406 Ventures,VC,United States,"Real Time, Product Design",SmartPoint,TOP1000,TOP5000